<p>detailed-task-view works!</p>
<div>
        &nbsp;
        <br>
        <h2> Detailed User Task View</h2>
        <br>
    </div>
    
    <!-- Data is provided to the table through dataSource  -->
    <!-- Gets the task and finds the id, name and asssignee for each one-->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    
    
             <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>User Id</th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>    
            </ng-container>
            
             <!-- name Column -->
             <!-- ng container is a logical container used to group nodes -->
             <ng-container matColumnDef="name">
               <th mat-header-cell *matHeaderCellDef mat-sort-header> Task Name </th>
               <td mat-cell *matCellDef="let element"> {{element.name}} </td>
             </ng-container>

              <!-- description assignee -->
              <ng-container matColumnDef="assignee">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Assignee </th>
                    <td mat-cell *matCellDef="let element"> {{element.assignee}} </td>
                  </ng-container>

                   <!-- description created -->
              <ng-container matColumnDef="created">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
                    <td mat-cell *matCellDef="let element"> {{element.created}} </td>
                  </ng-container>

                      <!-- description due -->
              <ng-container matColumnDef="due">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Due </th>
                    <td mat-cell *matCellDef="let element"> {{element.due}} </td>
                  </ng-container>

               <!-- description Column -->
               <ng-container matColumnDef="description">
                 <th mat-header-cell *matHeaderCellDef mat-sort-header> Task Description </th>
                 <td mat-cell *matCellDef="let element"> {{element.description}} </td>
               </ng-container>

                            <!-- description due -->
              <ng-container matColumnDef="processDefinitionId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> processDefinitionId </th>
                    <td mat-cell *matCellDef="let element"> {{element.processDefinitionId}} </td>
                  </ng-container>

                                <!-- description due -->
              <ng-container matColumnDef="processInstanceId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> processInstanceId </th>
                    <td mat-cell *matCellDef="let element"> {{element.processInstanceId}} </td>
                  </ng-container>
           
          
             <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
             <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
           </table>
           
           