<!-- Toolbar -->
<mat-toolbar color="primary">
  <div class="headerImage">
      <mat-icon svgIcon="CIS_Logo"></mat-icon>  
    </div>
    <button mat-flat-button color="primary" routerLink="home" routerLinkActive="active">Home</button>
    <button mat-flat-button color="primary" routerLink="tasks" routerLinkActive="active">Tasks</button>
    <button mat-flat-button color="primary" routerLink="current-deployment" routerLinkActive="active">Current Deployments</button>
    <button  mat-flat-button color="primary" routerLink="logout" routerLinkActive="active">Logout</button>
</mat-toolbar>


<router-outlet></router-outlet>